<!DOCTYPE html>
<html lang="en" ng-app="notif">
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>HackGT Notifications Page</title>
    <meta name="description" content="">
    <meta name="author" content="Michelle Chiu">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:400,600|Lato" rel="stylesheet">
    <link rel="stylesheet" href="/build/ui.min.css">
    <link rel='stylesheet' href='/build/app.min.css' />

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="assets/favicon.png">

    <!-- JavaScript/JQuery
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </head>
  <body ng-controller="AppController">
     <!--
     <div>
      <img src="assets/tree.png" id="tree">
    </div>
    -->
    <h1>{{greeting}}</h1>
    <div class="title">
         <img src="assets/logo.png" id="logo">
        <h1 id="title-heading">Hack<strong>GT</strong> Notifications</h1>
    </div>
    <div class="notifications" ng-repeat="notif in notifs">
        <div class="card">
            <h1 id="card-title">
              <img src="assets/{{notif.type}}.svg" width="30" height="30">
              {{notif.title}}
            </h1>
            <p>{{notif.description}}</p>
            <p id="timestamp">{{notif.date}} ago</p>
        </div>
    </div>

    <script src="/build/angulars.min.js"></script>
    <script src="/build/app.min.js"></script>
    <script src="/build/ui.min.js"></script>
  </body>
</html>
