<!DOCTYPE html>
<html lang="en" ng-app="notif">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Advent+Pro:400,600|Lato" rel="stylesheet">
  <link rel="stylesheet" href="/build/ui.min.css">
  <link rel='stylesheet' href='/build/app.min.css' />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="assets/favicon.png">
</head>
<body ng-controller="LoginController">
  <h1>Login Page</h1>

  <form ng-submit="submit()">
    <label>Email: </label><input type="email" ng-model="user.email" required>
    <label>Password: </label><input type="password" ng-model="user.password" required>
    <input type="submit">
  </form>


  <script src="/build/angulars.min.js"></script>
  <script src="/build/app.min.js"></script>
  <script src="/build/ui.min.js"></script>
</body>
</html>
