
/*-------------------------------- Mobile -------------------------------*/
@media (min-width: 0px) {
    html {
      height: 100%;
      width: 100%;
    }

    body {
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      background-image: url(/assets/mountains.png);
      background-position: bottom center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      background-attachment: fixed;
    }

    a {
      color: #00B7FF;
    }

    /*
    img#tree {
      width: 40%;
      max-width: 400px;
      position: absolute;
      top: 0;
      margin-top: -15px;
      margin-left: -15px;
    }
    */

    img#logo {
        position: absolute;
        top: 20%;
        left: 42.5%;
        text-align: center;
        width: 15%;
        margin-left: -160px;
        margin-top: -120px;
        padding: 0 50px;
        min-width: 175px;
    }

    .title {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    #title-heading {
        left: 37.5%;
        position: absolute;
        top: 0;
        color: #123d58;
        font-family: "Advent Pro", sans-serif;
        font-size: 2.5em;
    }

    .notifications {
      margin-top: 8em;
    }

    .card {
        margin-bottom: 2em;
        display: block;
        background-image: url("../assets/watercolor.png");
        height: 175px;
        width: 325px;
        margin-left: auto;
        margin-right: auto;
        border-left: 5px solid #ffffff;
        border-top: 5px solid #ffffff;
        border-right: 5px solid #ffffff;
        border-bottom: 30px solid #ffffff;
        -webkit-box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.3);
        -moz-box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.3);
        box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.3);
    }

    .card h1 {
        font-family: "Advent Pro", sans-serif;
        font-size: 1.5em;
        text-align: center;
    }

    .card p {
        font-family: "Lato";
        padding: 10px;
        color: gray;
        font-size: 1em;
    }

    .card #timestamp {
        position: relative;
        display: block;
        bottom: -3em;
        right: 0;
        font-size: 0.85em;
        color: #123d58;
        text-align: right;
        margin: 0;
        padding: 5px;
    }

}

/*-------------------------- Tablets, Desktop -------------------------*/
@media (min-width: 750px) {

    img#logo {
        position: absolute;
        top: 20%;
        left: 37.5%;
        text-align: center;
        width: 15%;
        margin-left: -160px;
        margin-top: -120px;
        padding: 0 50px;
        min-width: 175px;
    }

    #title-heading {
        font-size: 3.5em;
        top: 2.5%;
    }
}
