@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
  height: 75%;
  width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #969a9d;
  background-image: url(/assets/mountains.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

a {
  color: #00B7FF;
}

.title {
    display: block;
    text-align: center;
    margin: 50px 0;
}

.title h1 {
    color: #123d58;
    font-family: "Advent Pro", sans-serif;
    font-size: 50px;
    margin: 0;
}

.title img#logo {
    width: 100px;
}

.card {
    position: relative;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    display: block;
    background-color: #fff;
    background-image: url("../assets/watercolor.png");
    height: 275px;
    width: 325px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.card h1 {
    font-size: 25px;
    margin: 10px 0;
    font-family: "Advent Pro", sans-serif;
    text-align: center;
}

.card p {
    font-size: 1em;
    opacity: .9;
}

.card img {
    height: 50px;
    margin-top: 10px;
}

.card #timestamp {
    position: absolute;
    bottom: 0;
    display: block;
    font-size: .85em;
    color: #000;
    opacity: .5;
    text-align: center;
    width: 100%;
    margin-left: -10px;
}
